.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.menu-wrap .toggler {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}



@media only screen and (max-width:768px) {
    .navbar ul {
        display: block;
    }

    .menu-wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
    }

    .menu-wrap .toggler {
        display: inline;
        position: fixed;
        top: 14px;
        left: 0px;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    .menu-wrap .hamburger {
        position: fixed;
        top: 9px;
        left: 0px;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Hamburger Line */
    .menu-wrap .hamburger>div {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }

    /* Hamburger Lines - Top & Bottom */
    .menu-wrap .hamburger>div::before,
    .menu-wrap .hamburger>div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

    /* Moves Line Down */
    .menu-wrap .hamburger>div::after {
        top: 10px;
    }

    /* Toggler Animation */
    .menu-wrap .toggler:checked+.hamburger>div {
        transform: rotate(135deg);
    }

    /* Turns Lines Into X */
    .menu-wrap .toggler:checked+.hamburger>div:before,
    .menu-wrap .toggler:checked+.hamburger>div:after {
        top: 0;
        transform: rotate(90deg);
    }

    /* Rotate On Hover When Checked */
    .menu-wrap .toggler:checked:hover+.hamburger>div {
        transform: rotate(225deg);
    }

    /* Show Menu */
    .menu-wrap .toggler:checked~.menu {
        visibility: visible;
    }

    .menu-wrap .toggler:checked~.menu>div {
        transform: scale(1);
        transition-duration: 0.75s;
    }

    .menu-wrap .toggler:checked~.menu>div>div {
        opacity: 1;
        transition: opacity 0.4s ease 0.4s;
    }

    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu>div {
        background: #f3efe8;
        border-radius: 50%;
        width: 200vw;
        height: 300vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }

    .menu-wrap .menu>div>div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        transition: opacity 0.4s ease;
        margin-right: 100px;
    }

    .menu-wrap .menu>div>div>ul>li {
        list-style: none;
        font-size: 1.5rem;
        padding: 1rem;
    }


}