@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f3efe8;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    background: #f3efe8;
    border-bottom: 1px solid #ccc;
    color: #000000;
    width: 100%;
    height: 80px;
    position: fixed;
    transition: 1000ms;
    top: 0;
    font-family: 'Abril Fatface', cursive;
    z-index: 100;
}

.navbar a {
    color: #000000;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    opacity: 0.8;
}

.navbar ul {
    display: flex;
    margin-left: 100px;
    font-size: 22px;
}


.navbar .logo {
    font-family: 'Pacifico', cursive;
    font-weight: 500;
    font-size: 50px;
}

/* NAVBAR SCROLL */
.navbar.top {
    background: transparent;
    border-bottom: none;

}

.navbar.top a {
    color: #ffffff;
}


/* SLIDER */
.hero {
    overflow: hidden;
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
}

.banner1,
.banner2 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.banner1::after,
.banner2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}


.banner1 {
    animation: slide1 16s linear infinite;
}

.banner2 {
    animation: slide2 16s linear infinite;
}

@keyframes slide1 {
    0% {
        visibility: visible;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes slide2 {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}


.hero img {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: zoom-in 8s linear infinite;
}


@keyframes zoom-in {
    0% {
        width: 100%;
    }

    100% {
        width: 106%;
    }
}


.text {
    width: 100%;
    position: absolute;
    top: 260px;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    line-height: 3rem;
    z-index: 1;
}

.text a {
    font-size: 20px;
    text-decoration: underline;
}

.text a:hover {
    opacity: 0.7;
}


.text h1 {
    margin-bottom: 30px;
    font-size: 50px;
}


/* MAIN FEATURE ABOUT HOTEL & FOOD*/

.section-padding {
    padding: 20px 40px 40px;
}

.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 100px;
}

.flex-grid .column {
    flex: 50%;
    max-width: 500px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.flex-grid .column .page-title {
    padding-bottom: 40px;
    text-align: center;
    padding-top: 20px;
}

.flex-grid .column .page-title2 {
    text-align: center;
    padding-top: 40px;
}

.flex-grid img {
    width: 100%;
    height: 500px;
    transition: 800ms ease-in-out;
}

.box {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.flex-grid .column .title {
    font-weight: 600;
    font-size: 12px;
    color: #696969;
    padding-bottom: 10px;
}

.flex-grid .column h4 {
    font-size: 25px;
    padding-bottom: 15px;
}

.flex-grid .column p {
    font-weight: 100;
    font-size: 15px;
    padding-bottom: 30px;
}

.flex-grid .column img:hover {
    transform: scale(1.023);
}


/* Gallery */

.gallery {
    background-color: #534c4c;
    padding-top: 100px;
    padding-bottom: 50px;
}

.gallery h1 {
    padding-left: 150px;
    color: #ffffff;
    font-size: 2rem;
}

.grid-section {

    display: grid;
    width: 75%;
    margin: 50px auto;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.4rem;
}

.grid-img img {
    height: 100%;
    width: 100%;
}

.grid {
    overflow: hidden;
    position: relative;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
}

.grid-img {
    width: 100%;
    height: 100%;
    transition: 500ms;
}

.grid:nth-child(1) {
    grid-row: 1/ span 2;
    grid-column: 1/ span 2;
}

.grid:nth-child(6) {
    grid-row: 2/ span 2;
    grid-column: 4/ span 2;
}

.grid:hover .grid-img {
    transform: scale(1.1);
    transition: 500ms ease-in-out;
}

/* About hotel */
.about-hotel {
    max-width: 60%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    line-height: 2;
    margin-top: 70px;
    margin-bottom: 50px;
    font-weight: 100;
    font-size: 15px;
    color: #000000;
}

.about-hotel a.btn {
    color: #000000;
}

.about-hotel .btn {
    cursor: pointer;
    background-color: #c2e3d4;
    border: 1px solid #c2e3d4;
    font-weight: 500;
    color: #000000;
    padding: 10px 20px;
    margin: 30px 0;
    display: inline-block;
    transition: opacity 500ms;
}


.btn:hover {
    opacity: 0.7;
}


/* HOTEL GALLERY */
.about-pic {
    padding-top: 100px;
    padding-bottom: 50px;
}

.grid-about-section {
    display: grid;
    width: 75%;
    margin: 50px auto;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.grids {
    overflow: hidden;
    position: relative;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
}


.grids:nth-child(1) {
    grid-row: 1/ span 2;
    grid-column: 1/ span 4;
}

.grids:nth-child(2) {
    grid-row: 3/ span 1;
    grid-column: 1/ span 2;
}

.grids:nth-child(3) {
    grid-row: 3/ span 2;
    grid-column: 3/ span 2;
}

.grids:nth-child(6) {
    grid-row: 5/ span 2;
    grid-column: 1/ span 4;
}

.grids:nth-child(7) {
    grid-row: 7/ span 2;
    grid-column: 1/ span 3;
}

.grids:nth-child(10) {
    grid-row: 9/ span 1;
    grid-column: 1/ span 4;
}

.grids:hover .grid-img {
    transform: scale(1.1);
    transition: 500ms ease-in-out;
}

/* ABOUT PAGE */
.hero-a {
    background: url(images/abouts.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.pics img {
    height: 100%;
    width: 100%;
}

/* CONTACT FORM */
.l-heading {
    font-size: 40px;
    line-height: 1.2;
}

.container {
    margin: auto;
    overflow: hidden;
    padding: 30px 10px;
    margin-top: 3rem;
}


.text-primary {
    color: darkgoldenrod;
}


#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

.btns {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.boxs {
    display: inline-block;
    justify-content: space-evenly;
    padding
}


/* FOOTER */
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 40px;
    color: #fff;
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    color: #000000;
    flex: 1 0px;
    margin-left: 90px;
    font-family: 'Pacifico', cursive;
}

.footer-left h2 {
    margin-left: 60px;
    font-family: sans-serif;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2rem;
}


.footer-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2 0px;
    padding-bottom: 10px;
    color: #000000;
}

.footer-right>* {
    flex: 1;
    margin-left: 4em;
    margin-right: 2em;
}

.box a {
    color: #000000;
}


.footer-bottom {
    text-align: end;
    color: #000000;
}


.social a {
    width: 40px;
    height: 6px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 0.9em;
}

.social a i {
    border-radius: 50%;
    color: #000000;
    padding: 14px 12px;
    font-size: 20px;
}

.feature h3 {
    font-size: 15px;
}



/* MOBILE */
@media only screen and (max-width:769px) {
    .navbar {
        text-align: center;
        justify-content: center;
    }

    .navbar.top a {
        color: #000000;
    }

    .flex-grid .column {
        padding-bottom: 40px;
        box-shadow: none;
        padding-right: 0;
        padding-left: 0;
    }

    .flex-grid .row {
        display: block;
    }


    .gallery {
        padding-top: 0px;
    }

    .gallery h1 {
        padding-left: 5px;
    }

    .grid-section {
        display: block;
    }

    .grid-about-section {
        display: block;
    }

    .social {
        font-size: 10px;
    }

    .boxs {
        display: table-footer-group;
    }

    .contact-info {
        padding: 10px 20px;
    }

    .footer-left {
        margin-bottom: 20px;
        margin-left: 0px;
        font-size: 13px;
    }
}